*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    justify-content: center;
    text-align: center;
}
header h1{
    padding: .5rem;
    background-color: rgb(2, 43, 2);
    color: white;
}
main{
    padding: 1rem 10rem 2rem 10rem;
}   
main h2{
    padding: .5rem 0 2rem 0;
    font-size: 2rem;
}
h3{
    padding: 0.7rem;
}
button{
    border: solid .1rem rgb(2, 43, 2);
    padding: .2rem;
    font-weight: 500;
    background-color: white;
    color: rgb(2, 43, 2);
    cursor: pointer;
    transition: all .2s;
}
button:hover{
    
    background-color: rgb(2, 43, 2);
    color: white;
}
footer{
    background-color: rgb(2, 43, 2);
    color: white;
    padding: 0 0 .14rem 0;
}